footer{
    background-color: #F4F3EE;
}

footer p{
    color: #8A817C;
}

nav{
    background-color: #463F3A;
    font-family: 'Unbounded', cursive;
    color: white;
}

nav span span{
    color: #BCB8B1;
}
 td{
    background-color: #F4F3EE !important;
    margin: 2px;
 }

 .bdr{
    border: solid #463F3A 5px;
 }

 table{
    border-collapse: separate; /* set border-collapse property to separate */
    border-spacing: 10px;
 }