footer{
    background-color: #F4F3EE;
    margin-bottom: 0;
}

footer p{
    color: #8A817C;
    margin-bottom: 0;
}

nav{
    background-color: #463F3A;
    font-family: 'Unbounded', cursive;
    color: white;
}

nav span span{
    color: #BCB8B1;
}
 td{
    background-color: #F4F3EE !important;
    margin: 2px;
 }

 .calc{
    background-color: #463F3A;
    font-family: 'Unbounded', cursive;
    color: white;
    justify-content: center;
 }

 .txt{
    background-color: #BCB8B1;
    font-family: 'Unbounded', cursive;
    color: black;
    text-align: center;
 }
.txt:hover{
    background-color: #a7a39b;
}
 section{
    margin-bottom: 300px;
 }

 .brd{
    border: solid #463F3A 2px;
    border-top-width: 0px;
 }

 .anslist1{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
 }

 .anslist{
   list-style: none;
   padding: 0;
   box-sizing: border-box;
    overflow:auto;
    height: 162px;
    margin-bottom: 2px;
}
